<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Inventory Update</title>
</head>
<body>
    <h1>Inventory Updated</h1>
    <%= inventory %>
    <form method="POST" action="">
        <input type="text" value="" placeholder="jenis">
        <input type="text" value="" placeholder="serial number">
        <input type="text" value="" placeholder="kategori">
        <input type="submit" value="UPDATE">
    </form>
</body>
</html>